.container {
    width: 90%;
    background-color:cornflowerblue;
    margin-right: auto;
    margin-left: auto;
    
}
.outer {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 5px;
    
}
.middle {
    border: 1px solid antiquewhite;
    box-shadow:inset  0px 0px 1rem 0px aqua  ;
    padding: 5px 5px;
}
.inner{
    padding: 5px;
    border: 5px solid antiquewhite;
    padding: 5px 5px 15px;
    border-radius: 5px 15px;
    text-align: center;
    font-size: medium;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
}
.gap-bottom {
    margin-bottom: 5px;
}
.login-text {
    font-size:xx-large;
    font-weight: 800;
}
.bottom {
    
    padding: 5px;
    
}
.form-input {
    border:1px solid aqua;
    border-radius: 5px;
    border: 1px solid black;
    
}
form-input:hover {
    color: black;
}
.email {
    
    background-image: url(../../img/account.png);
    background-position: left;
    background-size:16px;
    background-repeat: no-repeat;
    text-align: center;
}
.password {
    background-image: url(../../img/password.png);
    background-position: left;
    background-size:16px;
    background-repeat: no-repeat;
    text-align: center;
}