.city{
    width: 600px; height: auto;
}
.img-rounded{
    border-radius: 10px 20px;
}
.img-circle{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.thumbnail{
    width: 150px;
    height: auto;
}
.thumbnail:hover{
    box-shadow: 0 0 2px 2px rgbrgb(183, 0, 255);
}

.card{
    width: 400px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.card-image{
    width: 100%;
    opacity: 0.9;

}
.card-text{
    text-align: center;
    padding: 10px 100px;

}
.london-bg{
    height: 800px;
    background-image: url(../../img/View_of_Empire_State_Building_from_Rockefeller_Center_New_York_City_dllu_\(cropped\).jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
   
}